:root {
	color-scheme: dark;
	--primary: rgb(161 255 155);
    --secondary: rgb(16 16 16);
}

body {
	padding: 0;
	font-size: 1.25rem;
	font-family: monospace;
	text-align: center;
	background-color: var(--secondary);
	color: var(--primary);
}

h1 {
	font-size: 2em;
}

a, a:visited {
	color: var(--primary);
}

a:hover {
	color: pink;
}

#starbase {
	padding: 10px 10% 0 10%;
}

#starbase table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: left;
	border-collapse: collapse;
	background-color: var(--secondary);
	font-size: 1em;
}

#starbase table thead {
	font-weight: bold;
	text-align: center;
}

#starbase table th,
#starbase table td {
	border: 1px solid var(--primary);
	padding: 5px;
}

#starbase table img {
	max-width: 250px;
}

#starbase table th:first-child {
	width: 100px;
}

.footer {
	margin: 25px 0 25px 0;
	text-align: center;
}

.hidden {
	display: none;
}

.state-page {
	padding: 10px 10% 0 10%;
}

.camper {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 400px;
	height: 280px;
	z-index: -10;
	background-image: url(_img/background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

/* Standard syntax */
@keyframes throbberSpin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

#loadingThrobber {
	display: inline-block;
	animation: throbberSpin 2s linear infinite;
}

/* Small screen applications */
@media (max-width: 750px) {
	#starbase table {
		margin: 0;
		width: 100%;
	}

	#starbase table img {
		max-width: 100px;
	}

	.footer {
		width: 100%;
		border-radius: inherit;
	}
}