body {
	font-family: sans-serif;
}

h1 {
	font-weight: normal;
	text-align: center;
}

h1 span {
	font-weight: bold;
}

#root {
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
}

@media only screen and (max-width: 1120px) {
	#root {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 850px) {
	#root {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 600px) {
	#root {
		grid-template-columns: auto;
	}
}

.swatch {
	width: 250px;
	box-shadow: 0px 0px 5px #00000047;
}

.swatch .color {
	width: 100%;
	height: 200px;
}

.swatch .details {
	display: flex;
	justify-content: space-between;
}

.swatch .details div {
	margin: 5px;
}

.swatch .details p {
	line-height: 0.25;
}

.swatch .details .pantone {
	font-weight: bold;
	text-transform: uppercase;
}

.swatch .details .codes {
	text-align: right;
}
